<div class="callout-{{ section.templatefields.style }} text-center fade-in-b">
	<div class="container">
		<div class="row">
			<h1>{{ section.templatefields.headline }}</h1>
			{{ section.templatefields.content }}
		</div>
	</div>
</div>
