<section>
	<div class="jumbotron" style="margin-bottom: 0px;">
		<div class="container">
			<h1>{{ section.templatefields.headline }}</h1>
			{{ section.templatefields.content }}
		</div>
	</div>
</section>
